* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 1em;
  font-size: 100%;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.75em;
  font-weight: normal;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

h3 {
  margin-bottom: 1em;
  font-weight: bold;
}

h4 {
  margin-bottom: 0.75em;
}

h5 {
  margin-bottom: 0.75em;
}

h6 {
  margin-bottom: 0.25em;
}

a {
  color: #666666;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
a:hover {
  transition-property: background-color;
  transition-duration: 500ms;
}

blockquote {
  margin-bottom: 1em;
}
blockquote span {
  font-family: inherit;
}
blockquote.huge {
  font-size: 5em;
  line-height: 0.85em;
}

p {
  line-height: 1.75em;
  margin-bottom: 2em;
  max-width: 700px;
}

ul, ol {
  padding-left: 1.25em;
  margin-bottom: 1em;
}
ul.no-bullets, ol.no-bullets {
  padding-left: 0;
  list-style: none;
}
ul li, ol li {
  line-height: 1.75em;
}

.button-group {
  display: block;
  margin: 2em 0;
}

.btn,
.button,
input[type=submit],
.comment-reply-link {
  background-color: #666666;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.55em 1.75em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  text-decoration: none;
  border-radius: 3px;
}
.btn i,
.button i,
input[type=submit] i,
.comment-reply-link i {
  font-size: inherit;
}
.btn.btn-sm, .btn.sz-small,
.button.btn-sm,
.button.sz-small,
input[type=submit].btn-sm,
input[type=submit].sz-small,
.comment-reply-link.btn-sm,
.comment-reply-link.sz-small {
  font-size: 0.8em;
}
.btn.btn-lg,
.button.btn-lg,
input[type=submit].btn-lg,
.comment-reply-link.btn-lg {
  font-size: 1.25em;
}
.btn.btn-big,
.button.btn-big,
input[type=submit].btn-big,
.comment-reply-link.btn-big {
  font-size: 1.5em;
}
.btn.btn-outlined, .btn.button-outlined,
.button.btn-outlined,
.button.button-outlined,
input[type=submit].btn-outlined,
input[type=submit].button-outlined,
.comment-reply-link.btn-outlined,
.comment-reply-link.button-outlined {
  background-color: transparent;
  border: 1px solid #000000;
  color: inherit;
  padding: 11px 2em;
}
.btn.btn-outlined:hover, .btn.button-outlined:hover,
.button.btn-outlined:hover,
.button.button-outlined:hover,
input[type=submit].btn-outlined:hover,
input[type=submit].button-outlined:hover,
.comment-reply-link.btn-outlined:hover,
.comment-reply-link.button-outlined:hover {
  color: #ffffff;
}
.btn.btn-rounded,
.button.btn-rounded,
input[type=submit].btn-rounded,
.comment-reply-link.btn-rounded {
  border-radius: 0.4em;
}
.btn:hover,
.button:hover,
input[type=submit]:hover,
.comment-reply-link:hover {
  background-color: #262626;
  transition-property: background-color;
  transition-duration: 500ms;
}
.btn i,
.button i,
input[type=submit] i,
.comment-reply-link i {
  position: relative;
  margin-left: 0.5em;
  top: 0.1em;
}
.btn .show-on-hover,
.button .show-on-hover,
input[type=submit] .show-on-hover,
.comment-reply-link .show-on-hover {
  margin-left: -20px;
  opacity: 0;
  transition-property: opacity, margin-left;
  transition-duration: 500ms;
}
.btn:hover .show-on-hover,
.button:hover .show-on-hover,
input[type=submit]:hover .show-on-hover,
.comment-reply-link:hover .show-on-hover {
  opacity: 1;
  margin-left: 0.5em;
}

input,
textarea {
  display: block;
  font-size: inherit;
  outline: none;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  border: 0.25px solid #CCC;
}

label {
  font-size: 0.917em;
  font-weight: bold;
  display: block;
}

header,
section,
footer,
div {
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  padding: 1em;
}
header.is-fixed, header.is-absolute {
  width: 100%;
  z-index: 100;
}
@media (max-width: 500px) {
  header {
    background-color: #666666;
  }
  header a {
    color: #fff;
  }
}

section,
footer {
  padding: 2em;
}

nav .menu a {
  padding: 0 1%;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a, nav ul li:last-of-type {
  padding: 0.75em;
}

ul.menu {
  list-style: none;
  padding-left: 0;
}
ul.menu a {
  display: inline-block;
  padding: 0.5em;
}
ul.menu.horizontal li {
  display: inline-block;
}

.hero,
.slider {
  align-items: center;
  background-position: center;
  background-size: cover;
  color: inherit;
  display: flex;
  justify-content: center;
  min-height: 300px;
  overflow: hidden;
  padding: 2em;
  position: relative;
  text-align: center;
}
.hero.hero-lg,
.slider.hero-lg {
  min-height: 550px;
}
.hero h1,
.slider h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.25em;
  display: block;
}
@media (max-width: 500px) {
  .hero h1,
.slider h1 {
    font-size: 3em;
  }
}
.hero p.subtitle,
.slider p.subtitle {
  font-size: 1.25em;
  max-width: 550px;
  margin: 0 auto 3em;
}
.hero .hero-panel,
.slider .hero-panel {
  width: 80%;
  z-index: 20;
}
@media (max-width: 500px) {
  .hero .hero-panel,
.slider .hero-panel {
    width: 100%;
  }
}
.hero video,
.slider video {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
@media (max-width: 500px) {
  .hero video,
.slider video {
    left: -100%;
  }
}
.hero .slider-button-left,
.hero .slider-button-right,
.slider .slider-button-left,
.slider .slider-button-right {
  height: 100%;
  position: absolute;
  top: 0;
  width: 50px;
  background-color: #000000;
  opacity: 0.1;
}
.hero .slider-button-left:hover,
.hero .slider-button-right:hover,
.slider .slider-button-left:hover,
.slider .slider-button-right:hover {
  opacity: 0.4;
}
.hero .slider-button-left,
.slider .slider-button-left {
  left: 0;
}
.hero .slider-button-right,
.slider .slider-button-right {
  right: 0;
}
.hero .slides,
.slider .slides {
  align-self: normal;
  display: flex;
  overflow: hidden;
  width: 100%;
}
.hero .slide,
.slider .slide {
  background-color: #cccccc;
  display: inline-block;
  left: 0;
  min-width: 100%;
  transition-property: left;
  transition-duration: 500ms;
}
.hero .slide.active,
.slider .slide.active {
  left: 0;
}

.slider {
  padding: 0;
}

.menu-overlay {
  overflow: hidden;
  overflow-y: scroll;
  padding: 4em 2em;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition-property: display;
  transition-duration: 2000ms;
}
.menu-overlay > div:first-of-type {
  z-index: 100;
}
.menu-overlay .overlay {
  opacity: 0.99;
  position: fixed;
}
.menu-overlay nav {
  margin-top: 2em;
}
.menu-overlay.closed {
  display: none;
}

.overlay {
  opacity: 0.6;
  background-color: #000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}

.no-overlay .overlay {
  display: none;
}

.has-overlay-on-mobile .overlay {
  display: block;
}

.has-no-scroll {
  overflow: hidden;
}

.container {
  margin: auto;
  max-width: 1130px;
  position: relative;
  z-index: 20;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container.is-three-fourths {
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: row wrap;
}
.grid .col {
  flex: 1;
  margin: 1%;
}
.grid .col.has-width-25 {
  width: 25%;
  flex: inherit;
}
.grid .col.one-third {
  flex: 30%;
}
.grid .col.two-thirds {
  flex: 60%;
}
.grid .col.has-width-50, .grid .col.one-half {
  flex: 48%;
}
.grid .col.has-width-75 {
  width: 75%;
  flex: inherit;
}
.grid .col.has-no-side-margin {
  margin-left: 0;
  margin-right: 0;
}
.grid .col > a {
  border: none;
}
.grid .col > a:hover {
  background-color: #f4f4f4;
}
@media (max-width: 500px) {
  .grid .col.has-margin-bottom-on-mobile {
    margin-bottom: 1.5em;
  }
}
.grid.grid-gallery {
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.grid.grid-gallery .col {
  margin-bottom: 1.5em;
}
@media (max-width: 500px) {
  .grid.grid-gallery .col {
    width: 100%;
  }
}
.grid.product-grid {
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.grid.product-grid .col {
  height: 300px;
  text-align: center;
  align-items: center;
  background-color: #f4f4f4;
}
.grid.grid-content {
  margin: 0 auto;
}
.grid.vertical-align {
  align-items: center;
}
.grid.has-no-margin .col {
  margin: 0;
}
@media (max-width: 500px) {
  .grid.is-vertical-on-mobile {
    flex-direction: column;
  }
}

.scaffold-container {
  max-width: 800px;
  padding: 1em;
  margin: 1em 4em;
}

.three-columns > * {
  flex: 1;
}

hr {
  background-color: #ddd;
  border: none;
  height: 2px;
  margin: 2em auto;
  width: 50%;
}
@media (min-width: 501px) {
  hr.is-vertical-on-desktop {
    height: 300px;
    margin: 0 2%;
    width: 3px;
  }
}

.cta {
  text-align: center;
}

.has-border {
  border: 1px solid #dddddd;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-right,
.has-text-right {
  text-align: right;
}
@media (max-width: 500px) {
  .has-text-align-right.has-text-align-left-on-mobile,
.has-text-right.has-text-align-left-on-mobile {
    text-align: left;
  }
}

.has-text-align-left .icon,
.has-text-align-left p.subtitle,
.has-text-align-left .button-group,
.has-text-align-right .icon,
.has-text-align-right p.subtitle,
.has-text-align-right .button-group {
  margin-right: 0;
}

.has-text-align-center,
.has-text-centered {
  text-align: center;
}
@media (max-width: 500px) {
  .has-text-align-center.has-text-align-left-on-mobile,
.has-text-centered.has-text-align-left-on-mobile {
    text-align: left;
  }
  .has-text-align-center-on-mobile,
.has-text-centered-on-mobile {
    text-align: center;
  }
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.is-padded {
  padding: 1em;
}

.has-no-padding {
  padding: 0;
}

.has-padding {
  padding: 1em;
}

.has-padding-top {
  padding-top: 2em;
}

.has-padding-lg {
  padding: 4em 2em;
}

.has-padding-xl {
  padding: 4em;
}

.has-padded-height {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (max-width: 500px) {
  .has-no-padding-on-mobile {
    padding: inherit 0;
  }
}

@media (max-width: 500px) {
  .has-padding-on-mobile {
    padding: inherit 1em;
  }
}

.has-no-margin {
  margin: 0;
}

.has-no-side-margin {
  margin-left: 0;
  margin-right: 0;
}

.has-margin {
  margin: 1em;
}

.has-margin-bottom {
  margin-bottom: 1.5em;
}
@media (max-width: 500px) {
  .has-margin-bottom-on-mobile {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 500px) {
  *[class*=has-width-].is-full-on-mobile,
.grid .col.one-half.is-full-on-mobile,
.grid .col.one-third.is-full-on-mobile {
    width: 100%;
    flex: 100%;
  }
}

.is-fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.is-absolute {
  position: absolute;
}
@media (max-width: 500px) {
  .is-absolute.not-absolute-on-mobile {
    position: relative;
  }
}

.is-centered {
  margin: 0 auto;
}

.is-full {
  width: 100%;
  max-width: inherit;
}
@media (max-width: 500px) {
  .is-full-on-mobile {
    width: 100%;
    flex: none !important;
  }
}

.is-half {
  width: 50%;
}
@media (max-width: 500px) {
  .is-half {
    width: 100%;
  }
}

.is-three-fourths {
  width: 75%;
}

.has-width-25 {
  width: 25%;
  flex: inherit;
}

.has-width-50 {
  width: 50%;
  flex: inherit;
}

.has-width-75 {
  width: 75%;
  flex: inherit;
}

.has-top-border {
  border-top: 2px solid #dddddd;
}

.is-hidden {
  display: none;
}

@media (min-width: 501px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
}

.is-close-button {
  z-index: 100;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  width: initial;
}

.fineprint {
  font-size: 0.75em;
  margin-bottom: 0;
}

i.is-large {
  font-size: 2em;
}

i.is-xl {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.logo {
  display: inline-block;
}
.logo img {
  max-height: 75px;
}
@media (max-width: 500px) {
  .logo img {
    max-height: 50px;
  }
}

footer .logo img {
  height: 70px;
}

.img-wrap {
  overflow: hidden;
}
.img-wrap.img-4-x-3 {
  max-height: 480px;
  max-width: 720px;
}
.img-wrap.img-4-x-4 {
  max-height: 500px;
  max-width: 500px;
}
.img-wrap.img-4-x-6 {
  max-height: 750px;
  max-width: 500px;
}
.img-wrap.img-16-x-9 {
  max-height: 720px;
  max-width: 960px;
}
.img-wrap.img-9-x-6 {
  max-height: 750px;
  max-width: 1125px;
}
.img-wrap img {
  max-width: 100%;
}

iframe {
  border: none;
  max-width: 100%;
  width: 100%;
}

.fa, .fab, .fal, .far, .fas, i {
  color: inherit;
}

.icon {
  max-width: 150px;
  margin: 0 auto 0.5em;
  display: block;
}
.icon.icon-large {
  font-size: 3em;
}

.is-shape-flag:after {
  display: none;
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  background-color: inherit;
  padding-bottom: 50%;
  width: 57.7%;
  z-index: -1;
  transform-origin: 0 0;
  transform: rotate(-30deg) skewX(30deg);
}

.branding {
  max-width: 200px;
}
.branding .logo {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0;
}
.branding .tagline {
  display: block;
}

.media {
  display: block;
  position: relative;
}
.media.thumbnail {
  background-color: #f4f4f4;
  min-height: 250px;
  overflow: hidden;
}
.media.thumbnail img {
  width: 100%;
}

.recent-posts h2.headline,
.product-grid h2.headline {
  text-align: center;
}
.recent-posts .post-preview-meta,
.product-grid .post-preview-meta {
  padding: 1em 2em;
}
.recent-posts span,
.product-grid span {
  display: block;
  margin-bottom: 0.25em;
}
.recent-posts .post-date,
.product-grid .post-date {
  display: block;
  margin-bottom: 1em;
}

.content {
  max-width: 1150px;
  min-height: 250px;
  margin: 0 auto;
}
.content .post {
  display: block;
  margin: 1% 1% 4em;
}
.content .post .post-content {
  display: block;
}
.content .post-title {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}
.content .post-meta {
  padding: 1em 0 2em;
}
.content p {
  margin-bottom: 2em;
}

#comments .comment-body,
#comments #respond {
  border-top: 1px solid #eeeeee;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#comments .comment-list {
  list-style: none;
  padding-left: 0;
}
#comments .comment-list .children {
  list-style: none;
  padding-left: 3em;
}
#comments .comment-reply-link {
  font-size: 0.8em;
  padding: 0.75em 2em;
}

#breadcrumb {
  background-color: #f4f4f4;
}
#breadcrumb .crumbs li:last-child {
  padding: 0.75em;
}

.has-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wp-block-columns {
  margin-bottom: 2em;
}

/*# sourceMappingURL=chameleon.css.map */
