* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$primary: #666666;

// Reset
html, body{
    height:100%;
}

body {
    font-size: 1em; // 1em = 12pt = 16px = 100%
    font-size: 100%;
    font-family: sans-serif;
    letter-spacing: 0.01em;
}

// Typography
h1 { font-size: 4em; margin-bottom: .75em; }
h2 { font-size: 2.5em; margin-bottom: .75em; }
h3 { margin-bottom: 1em; }
h4 { margin-bottom: .75em; }
h5 { margin-bottom: .75em; }
h6 { margin-bottom: .25em; }

a {
    color: $primary;
    cursor: pointer;
    outline: none;
}

blockquote {
    margin-bottom: 1em;

    span { font-family: inherit; }

    &.huge {
        font-size: 5em;
        line-height: .85em;
    }
}

p {
    line-height: 1.75em;
    margin-bottom: 2em;
}


ul, ol {
    padding-left: 1.25em;
    margin-bottom: 1em;

    &.no-bullets {
        padding-left: 0;
        list-style: none;
    }

    li {
        line-height: 1.75em;
    }
}

span {
    display: inline-block; }

// Buttons
.btn {
    background-color: $primary;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 16px 28px;
    text-transform: uppercase;
    margin-right: .5em;

    &.btn-sm {
        font-size: .8em;
        padding: .75em 2em; }

    &.btn-lg {
        // padding: 2em 3em;
        font-size: 1.25em;
    }

    &.btn-big {
        font-size: 1.5em;
    }

    &.btn-outlined {
        background-color: transparent;
        border: 1px solid #000000;
        color: inherit;
        padding: 14px 1.75em;

        &:hover {
            color: #ffffff;
        }
    }

    &.btn-rounded {
        border-radius: .4em;
    }

    &:hover {
        background-color: darken( $primary, 25% );
    }

    i {
        margin-left: .5em; }
}

// Forms
input {
    display: block;
    font-size: inherit;
    outline: none;
    padding: .5em;
    margin-bottom: .5em;
    width: 100%;
}

label {
    font-size: .917em;
    font-weight: bold;
    margin-left: .5em;
}


// Layouts
header,
section,
footer,
div {
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    padding: 1em; }

section,
footer {
    padding: 2em; }

nav {
    .menu a { padding: 0 1%; }
}

ul.menu {
    list-style: none;
    padding-left: 0;

    a {
        display: inline-block;
        padding: .25em 0;
    }

    li {
        
    }

    &.horizontal {
        
        li {
            display: inline-block;
        }
    }
}

.hero,
.slider {
    align-items: center;
    background-color: #f4f4f4;
    background-position: center;
    background-size: cover;
    color: inherit;
    display: flex;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
    padding: 2em 1em;
    position: relative;
    text-align: center;
    
    &.hero-lg {
        min-height: 550px;
    }

    h1 { font-size: 5em; margin-bottom: .5em; }
    p { font-size: 1.25em; }

    .hero-panel {
        width: 70%;
        z-index: 20;
    }

    video {
        position: absolute;
        z-index: 0;
        width: 100%;
    }

    .slider-button-left,
    .slider-button-right {
        height: 100%;
        position: absolute;
        top: 0;
        width: 50px;
        background-color: #000000;
        opacity: .1;

        &:hover {
            opacity: .4;
        }
    }

    .slider-button-left { left: 0; }
    .slider-button-right { right: 0; }

    .slides {
        align-self: normal;
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .slide {
        background-color: #cccccc;
        display: inline-block;
        left: 0;
        // margin: 0 10%;
        min-width: 100%;
        transition-property: left;
        transition-duration: 500ms;

        &.active {
            left: 0;
        }
    }
}

.slider {
    padding: 0;
}

.overlay {
    opacity: .6;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1290px;
    position: relative;
    z-index: 20;
}

.grid {
    display: flex;
    justify-content: center;
    margin: auto;

    .col {
        flex: 1;
        margin: 0 1%; }

    &.grid-gallery {
        flex-wrap: wrap;
        flex-flow: row wrap;

        .col {
            width: 48%;
            height: 300px;
            background-color: #dddddd;
            flex: none;
            margin-bottom: 1.5em;
        }
    }

    &.grid-content {
        margin: 0 auto;
    }

    .col-half {
        flex: 2 0 0; }

    &.vertical-align { 
        align-items: center; }

    &.has-no-margin {
        .col {
            margin: 0; }
    }
}

.scaffold-container {
    max-width: 800px;
    padding: 1em;
    margin: 1em 4em;
}

.three-columns {

    > * {
        flex: 1;
    }
}

hr {
    background-color: #ddd;
    border: none;
    height: 2px;
    margin: 2em auto;
    width: 50%;

    &.is-vertical {
        height: 300px;
        margin: 0 2%;
        width: 3px;
    }
}


// Styles
.has-border {
    border: 1px solid #dddddd; }

// Formatting
.has-text-align-left { text-align: left; }
.has-text-align-right { text-align: right; }
.has-text-align-center { text-align: center; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }
.is-padded { padding: 1em; }

.has-no-padding { padding: 0; }
.has-padding { padding: 1em; }
.has-padding-top { padding-top: 2em; }
.has-padding-lg { padding: 4em 2em; }
.has-padding-xl { padding: 4em; }
.has-padded-height { padding-top: 5%; padding-bottom: 5%; }

.has-no-margin { margin: 0; }
.has-margin { margin: 1em; }
.has-margin-bottom { margin-bottom: 1.5em; }

.is-fixed { position: fixed; width: 100%; z-index: 100; }
.is-centered { margin: 0 auto; }

.is-full { width: 100%; max-width: inherit; }
.is-half { width: 50%; }
.is-three-fourths { width: 75%; }

.has-width-25 { width: 25%; flex: inherit; }
.has-width-50 { width: 50%; flex: inherit; }
.has-width-75 { width: 75%; flex: inherit; }

.has-top-border { border-top: 2px solid #dddddd; }

// Sizes
i.is-large { 
    font-size: 2em; }
i.is-xl { 
    font-size: 4em;
    margin-bottom: .5em; }

// Media
.logo {
    display: inline-block;

    img {
        max-height: 75px;
    }
}

.img-wrap {
    overflow: hidden;

    &.img-4-x-3 { max-height: 480px; max-width: 720px; }
    &.img-4-x-4 { max-height: 500px; max-width: 500px; }
    &.img-4-x-6 { max-height: 750px; max-width: 500px; }
    &.img-16-x-9 { max-height: 720px; max-width: 960px; }
    &.img-9-x-6 { max-height: 750px; max-width: 1125px; }

    img { max-width: 100%; }
}

img {

    &.sticker {
        position: absolute;
    }
}

iframe {
    border: none;
    max-width: 100%;
    width: 100%; }

// Fontawesome
.fa, .fab, .fal, .far, .fas, i {
    color: inherit;
    font-size: 1.25em;
}

// Shapes
.is-shape-flag {

    &:after {
        display: none;
        content: "";
        position: absolute;
        top:50px;  left: 0;
        background-color: inherit;
        padding-bottom: 50%;
        width: 57.7%;
        z-index: -1;
        transform-origin: 0 0;
        transform: rotate(-30deg) skewX(30deg);
    }
}