* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Colors
$primary: #666666;

// Reset
html, body{
    height:100%;
}

body {
    font-size: 1em; // 1em = 12pt = 16px = 100%
    font-size: 100%;
    letter-spacing: 0.01em;
}

// Typography
h1 { font-size: 4em; margin-bottom: .75em; font-weight: normal; }
h2 { font-size: 2.5em; margin-bottom: .75em; }
h3 { margin-bottom: 1em; font-weight: bold; }
h4 { margin-bottom: .75em; }
h5 { margin-bottom: .75em; }
h6 { margin-bottom: .25em; }

a {
    color: $primary;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover {
        transition-property: background-color;
        transition-duration: 500ms;
    }
}

blockquote {
    margin-bottom: 1em;

    span { font-family: inherit; }

    &.huge {
        font-size: 5em;
        line-height: .85em;
    }
}

p {
    line-height: 1.75em;
    margin-bottom: 2em;
    max-width: 700px;
}


ul, ol {
    padding-left: 1.25em;
    margin-bottom: 1em;

    &.no-bullets {
        padding-left: 0;
        list-style: none;
    }

    li {
        line-height: 1.75em;
    }
}

span {
    // display: inline-block;
}

// Buttons
.button-group {
    display: block;
    margin: 2em 0;
}

.btn,
.button,
input[type="submit"],
.comment-reply-link {
    background-color: $primary;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 0.55em 1.75em;
    margin-right: .5em;
    margin-bottom: 1em;
    text-decoration: none;
    border-radius: 3px;

    i {
        font-size: inherit;
    }

    &.btn-sm,
    &.sz-small {
        font-size: .8em; }

    &.btn-lg {
        // padding: 2em 3em;
        font-size: 1.25em;
    }

    &.btn-big {
        font-size: 1.5em;
    }

    &.btn-outlined,
    &.button-outlined {
        background-color: transparent;
        border: 1px solid #000000;
        color: inherit;
        padding: 11px 2em;

        &:hover {
            color: #ffffff;
        }
    }

    &.btn-rounded {
        border-radius: .4em;
    }

    &:hover {
        background-color: darken( $primary, 25% );
        transition-property: background-color;
        transition-duration: 500ms;
    }

    i {
        position: relative;
        margin-left: 0.5em;
        top: .1em; }

    .show-on-hover {
        margin-left: -20px;
        opacity: 0;
        transition-property: opacity, margin-left;
        transition-duration: 500ms;
    }

    &:hover {

        .show-on-hover {
            opacity: 1;
            margin-left: .5em;
        }
    }
}

// Forms
input,
textarea {
    display: block;
    font-size: inherit;
    outline: none;
    padding: .5em;
    margin-bottom: .5em;
    width: 100%;
    border: .25px solid #CCC;
}

label {
    font-size: .917em;
    font-weight: bold;
    display: block;
}


// Layouts
header,
section,
footer,
div {
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    padding: 1em; 

    &.is-fixed,
    &.is-absolute {
        width: 100%; z-index: 100;
    }

    @media( max-width: 500px ) {
        background-color: $primary;
        a { color: #fff; }

    }
}

section,
footer {
    padding: 2em; }

nav {

    .menu a { padding: 0 1%; }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;

            a,
            &:last-of-type {
                padding: .75em;
            }
        }
    }
}

ul.menu {
    list-style: none;
    padding-left: 0;

    a {
        display: inline-block;
        padding: .5em;
    }

    li { }

    &.horizontal {
        
        li {
            display: inline-block;
        }
    }
}

.hero,
.slider {
    align-items: center;
    background-position: center;
    background-size: cover;
    color: inherit;
    display: flex;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
    padding: 2em;
    position: relative;
    text-align: center;
    
    &.hero-lg {
        min-height: 550px;
    }

    h1 {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: .25em; 
        display: block;

        @media ( max-width: 500px ) {
            font-size: 3em;
        }
    }

    p.subtitle { 
        font-size: 1.25em; 
        max-width: 550px;
        margin: 0 auto 3em; }

    .hero-panel {
        width: 80%;
        z-index: 20;

        @media ( max-width: 500px ) {
            width: 100%;
        }
    }

    video {
        position: absolute;
        left: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: 0;

        @media ( max-width: 500px ) {
            left: -100%;
            // height: 100%;
            // width: inherit;
        }
    }

    .slider-button-left,
    .slider-button-right {
        height: 100%;
        position: absolute;
        top: 0;
        width: 50px;
        background-color: #000000;
        opacity: .1;

        &:hover {
            opacity: .4;
        }
    }

    .slider-button-left { left: 0; }
    .slider-button-right { right: 0; }

    .slides {
        align-self: normal;
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .slide {
        background-color: #cccccc;
        display: inline-block;
        left: 0;
        // margin: 0 10%;
        min-width: 100%;
        transition-property: left;
        transition-duration: 500ms;

        &.active {
            left: 0;
        }
    }
}

.slider {
    padding: 0;
}

.menu-overlay {
    overflow: hidden;
    overflow-y: scroll;
    padding: 4em 2em;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition-property: display;
    transition-duration: 2000ms;

    > div:first-of-type {
        z-index: 100;
    }

    .overlay {
        opacity: .99;
        position: fixed;
    }

    nav {
        margin-top: 2em;
    }

    &.closed {
        display: none;
    }
}

.overlay {
    opacity: .6;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
}

.no-overlay .overlay {
    display: none; }

.has-overlay-on-mobile .overlay {
    display: block; }

.has-no-scroll {
    overflow: hidden;
}

.container {
    margin: auto;
    max-width: 1130px;
    position: relative;
    z-index: 20;

    @media ( max-width: 500px ) {
        width: 100%;

        &.is-three-fourths {
            width: 100%;
        }
    }
}

.grid {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-flow: row wrap;

    .col {
        flex: 1;
        margin: 1%;

        &.has-width-25 { width: 25%; flex: inherit; }
        &.one-third { flex: 30%; }
        &.two-thirds { flex: 60%; }
        &.has-width-50, &.one-half { flex: 48%; }
        &.has-width-75 { width: 75%; flex: inherit; }
        &.has-no-side-margin { margin-left: 0; margin-right: 0; }

        > a {
            border: none;

            &:hover {
                background-color: #f4f4f4;
            }
        }

        @media( max-width: 500px ) {
            &.has-margin-bottom-on-mobile {
                margin-bottom: 1.5em;
            }
        }
    }

    &.grid-gallery {
        flex-wrap: wrap;
        flex-flow: row wrap;

        .col {
            // height: 300px;
            // background-color: #dddddd;
            // flex: none;
            margin-bottom: 1.5em;

            @media( max-width: 500px ) {
                width: 100%;
            }
        }
    }

    &.product-grid {
        flex-wrap: wrap;
        flex-flow: row wrap;

        .col {
            height: 300px;
            text-align: center;
            align-items: center;
            background-color: #f4f4f4;
        }
    }

    &.grid-content {
        margin: 0 auto;
    }

    &.vertical-align { 
        align-items: center; }

    &.has-no-margin {
        .col {
            margin: 0; }
    }

    &.is-vertical-on-mobile {

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}

.scaffold-container {
    max-width: 800px;
    padding: 1em;
    margin: 1em 4em;
}

.three-columns {

    > * {
        flex: 1;
    }
}

hr {
    background-color: #ddd;
    border: none;
    height: 2px;
    margin: 2em auto;
    width: 50%;

    @media ( min-width: 501px ) {
        &.is-vertical-on-desktop {
            height: 300px;
            margin: 0 2%;
            width: 3px;
        }
    }
}

.cta {
    text-align: center;
}

// Styles
.has-border {
    border: 1px solid #dddddd; }

// Formatting
.has-text-align-left { text-align: left; }
.has-text-align-right,
.has-text-right { 
    text-align: right;

    @media( max-width: 500px ) {
        &.has-text-align-left-on-mobile {
            text-align: left;
        }
    }
}

.has-text-align-left,
.has-text-align-right {

    .icon,
    p.subtitle,
    .button-group {
        margin-right: 0;
    }
}
.has-text-align-center,
.has-text-centered { 
    text-align: center; 

    @media( max-width: 500px ) {
        &.has-text-align-left-on-mobile {
            text-align: left;
        }

        &-on-mobile {
            text-align: center; }
    }
}
.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }
.is-padded { padding: 1em; }

.has-no-padding { padding: 0; }
.has-padding { padding: 1em; }
.has-padding-top { padding-top: 2em; }
.has-padding-lg { padding: 4em 2em; }
.has-padding-xl { padding: 4em; }
.has-padded-height { padding-top: 5%; padding-bottom: 5%; }

.has-no-padding-on-mobile {
    @media( max-width: 500px ) {
        padding: inherit 0;
    }
}

.has-padding-on-mobile {
    @media( max-width: 500px ) {
        padding: inherit 1em;
    }
}

.has-no-margin { margin: 0; }
.has-no-side-margin { margin-left: 0; margin-right: 0; }
.has-margin { margin: 1em; }
.has-margin-bottom { 
    margin-bottom: 1.5em; 

    @media( max-width: 500px ) {
        &-on-mobile {
            margin-bottom: 1.5em;
        }
    }
}

*[class*="has-width-"],
.grid .col.one-half,
.grid .col.one-third {
    @media( max-width: 500px ) {
        &.is-full-on-mobile {
            width: 100%;
            flex: 100%;
        }
    }
}

.is-fixed { position: fixed; width: 100%; z-index: 100; }
.is-absolute {
    position: absolute; 

    @media( max-width: 500px ) {
        &.not-absolute-on-mobile {
            position: relative;
        }
    }
}
.is-centered { margin: 0 auto; }

.is-full { 
    width: 100%;
    max-width: inherit;

    @media( max-width: 500px ) {
        &-on-mobile {
            width: 100%;
            flex: none !important;
        }
    }
}

.is-half { 
    width: 50%; 

    @media( max-width: 500px ) {
        width: 100%;
    }
}
.is-three-fourths { width: 75%; }

.has-width-25 { width: 25%; flex: inherit; }
.has-width-50 { width: 50%; flex: inherit; }
.has-width-75 { width: 75%; flex: inherit; }

.has-top-border { border-top: 2px solid #dddddd; }
.is-hidden { display: none; }

.hide-on-desktop {
    @media ( min-width: 501px ) {
        display: none;
    }
}

.hide-on-mobile {
    @media ( max-width: 500px ) {
        display: none;
    }
}

.is-close-button {
    z-index: 100;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    width: initial;
}

.fineprint {
    font-size: .75em;
    margin-bottom: 0;
}

// Sizes
i.is-large { 
    font-size: 2em; }
i.is-xl { 
    font-size: 4em;
    margin-bottom: .5em; }

// Media
.logo {
    display: inline-block;

    img {
        max-height: 75px;

        @media ( max-width: 500px ) {
            max-height: 50px;
        }
    }
}

footer .logo img {
    height: 70px;
}

.img-wrap {
    overflow: hidden;

    &.img-4-x-3 { max-height: 480px; max-width: 720px; }
    &.img-4-x-4 { max-height: 500px; max-width: 500px; }
    &.img-4-x-6 { max-height: 750px; max-width: 500px; }
    &.img-16-x-9 { max-height: 720px; max-width: 960px; }
    &.img-9-x-6 { max-height: 750px; max-width: 1125px; }

    img { max-width: 100%; }
}

img { }

iframe {
    border: none;
    max-width: 100%;
    width: 100%; }

// Fontawesome
.fa, .fab, .fal, .far, .fas, i {
    color: inherit;
}

.icon {
    max-width: 150px;
    margin: 0 auto .5em;
    display: inline;

    &.icon-large {
        font-size: 3em;
    }

    img {
        max-width: 150px;
    }
}

// Shapes
.is-shape-flag {

    &:after {
        display: none;
        content: "";
        position: absolute;
        top:50px;  left: 0;
        background-color: inherit;
        padding-bottom: 50%;
        width: 57.7%;
        z-index: -1;
        transform-origin: 0 0;
        transform: rotate(-30deg) skewX(30deg);
    }
}






.branding {
    max-width: 200px;

    .logo {
        display: block;
        font-size: 1.5em;
        margin-bottom: 0; }

    .tagline {
        display: block;
    }
}

.media {
    display: block;
    position: relative;

    &.thumbnail {
        background-color: #f4f4f4;
        min-height: 250px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

.recent-posts,
.product-grid {

    h2.headline { text-align: center; }

    .post-preview {

    }

    .post-preview-meta {
        padding: 1em 2em;
    }

    span {
        display: block;
        margin-bottom: .25em;
    }

    .post-date {
        display: block;
        margin-bottom: 1em;
    }
}

.content {
    max-width: 1150px;
    min-height: 250px;
    margin: 0 auto;

    .post {
        display: block;
        margin: 1% 1% 4em;
    
        .post-content {
            display: block; }
    }

    .post-title {
        font-size: 2.5em;
        margin-bottom: .25em; }

    .post-meta {
        padding: 1em 0 2em;

        .post-date {
            }
    }

    .comments {

    }

    p {
        margin-bottom: 2em;
    }
}

#comments {

    .comment-body,
    #respond {
        border-top: 1px solid #eeeeee;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    .comment-list {
        list-style: none;
        padding-left: 0;

        .children {
            list-style: none;
            padding-left: 3em;
        }
    }

    .comment-reply-link {
        font-size: .8em;
        padding: .75em 2em;
    }
}

#breadcrumb {
    background-color: #f4f4f4;

    .crumbs {

        li:last-child {
            padding: 0.75em;
        }
    }
}

.has-parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wp-block-columns {
    margin-bottom: 2em;
}

.wp-block-image img {
    height: inherit;
}